<div id="wrapper">
    <div id="main">
        <h1>Formations Agile</h1>
        <p>
            "Nous des formations diversifiées en Technologie de l'Information suivant les besoins de notre clientèle. Nous priorisons comme même le volet Agile."
			</p>
        <p>
            Drive Destiny eXperience propose un accompagnement pour vous aider à prendre ce virage et faire les bons choix aux bons moments
        </p>
        <p>
            Notre formation Agile:
        </p>
        <div style="background-image:url(/images/btnbackground.png); background-repeat:no-repeat;">
        	Bonjour
		</div>

    </div>
</div>
