<div id="wrapper">
    <div id="main">
        <h1>Développement</h1>
        <p>
            "La transition à l'Agilité est un changement que personne ne peut faire pour vous"
        </p>
        <p>
            Driv Destiny eXperience propose un accompagnement pour vous aider à prendre ce virage et faire les bons choix aux bons moments
        </p>
        <p>
            Notre démarche est très simple:
        </p>
        <img align=center src="/images/coaching.png" />
    </div>
</div>