<div id="wrapper">
    <div id="main">
        <h1>Companie</h1>
		<h2>Notre Vision :</h2>
        Collaborer pour tirer le meilleur de la technologie de l’information et participer et son épanouissement dans une ambiance agréable.
		<h2>Notre Mission :</h2>
        Offrir des services  en gestion de projet et en ingénierie de l’information: consultation, formation, accompagnement de développement de solution.
		<h2>Nos Valeurs :</h2>
        •	Adopter une étroite collaboration avec vous pour mieux vous servir.
        •	Mettre en œuvre toutes les efforts nécessaires pour atteindre les objectifs.
        •	Partager les connaissances, qui sont d’ailleurs un patrimoine universel.
		<h2>Notre Approche :</h2>
        •	Être à votre écoute pour bien comprendre vos besoins et bien les définir.
        •	Vous proposer les meilleures solutions et vous aider à faire des choix éclairés.
        •	Vous assister et participer dans la mise en ouvre de votre solution.
        •	Collaborer avec vous jusqu’à l’atteinte de votre satisfaction.
    </div>
</div>
