<div id="wrapper">
    <div id="main">
        <h1>Nos Services</h1>
        <div id="featured">
            <div id="widgets">
                <style type="text/css">                
                    #featured.color a.widget#widget-levelup .title {
                        color: #a0dafe
                    }
                    
                    a.widget#widget-levelup:hover {
                        border: 1px solid #2F3334 394942;
                        background: #242235; /* old browsers */
                        background: -moz-linear-gradient(top, #2C3249 0%, #1F2433 100%); /* firefox */
                                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2C3249), color-stop(100%,#1F2433)); /* webkit */
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C3249', endColorstr='#1F2433',GradientType=0 ); /* ie */
                                            }
                                         a.widget#widget-levelup:hover .content { color:#a0dafe; }
                                    
                </style>
                <style type="text/css">                
                    #featured.color a.widget#widget-provider .title {
                        color: #87C8DE
                    }
                    
                    a.widget#widget-provider:hover {
                        border: 1px solid #283538;
                        background: #2c2b35; /* old browsers */
                        background: -moz-linear-gradient(top, #283538 0%, #20272a 100%); /* firefox */
                                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#283538), color-stop(100%,#20272a)); /* webkit */
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283538', endColorstr='#20272a',GradientType=0 ); /* ie */
                                            }
                                            a.widget#widget-provider:hover .content {color:#87C8DE}
                                    
                </style>
                <a id="widget-coaching" class="widget" href="/coaching">
                	<span class="logo" style="background-image: url(/images/widgets/levelup.png)"></span>
					<span class="title">Coaching</span>
					<span class="content">Vous accompagner dans vos projets Agiles.</span></a>
                <a id="widget-training" class="widget" href="/training">
                	<span class="logo" style="background-image: url(/images/widgets/addons-provider.png)"></span>
					<span class="title">Formation</span>
					<span class="content">Formation Agile, Scrum, TDD.</span></a>
                <a id="widget-development" class="widget" href="/development">
                	<span class="logo" style="background-image: url(/images/widgets/levelup.png)"></span>
					<span class="title">Développement</span>
					<span class="content">La réalisation, phase incontournable de vos projets.</span></a>
            </div>
        </div>
    </div>
</div>
