<?xml version='1.0' encoding='utf-8'?>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <link href='/images/faviconddx.ico' rel='icon' type='image/x-icon' />

        <meta content='width=1044' name='viewport' />
        <link href='/stylesheets/header.css' media='all' rel='stylesheet' type='text/css' />
        <link href='/stylesheets/footer.css' media='all' rel='stylesheet' type='text/css' />
        <script type="text/javascript">
            var _sf_startpt = (new Date()).getTime()
        </script>
        <title>Driv Destiny eXperience - Consulting / Audit / Management Projet  | Formation </title>
        <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
        <link media="all" rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
        <link href="/stylesheets/footer.css" media="screen" rel="stylesheet" type="text/css" />
        <link href='/stylesheets/fontface.css' media='all' rel='stylesheet' type='text/css' />
        <link href='/stylesheets/testing.css' media='all' rel='stylesheet' type='text/css' />
        <!-- DDX::Nav -->
        <link rel="icon" href="/images/faviconddx.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="fluid-icon" href="/images/fluid.png" title="DDX" />
        <link rel="apple-touch-icon" href="/images/touch.png" />
        <meta content='yes' name='apple-mobile-web-app-capable' />
        <meta content="width=800" name="viewport" />
        <!-- / DDX::Nav --><!-- iphone and ipad style -->
        <meta content='black-translucent' name='apple-mobile-web-app-status-bar-style' />
        <!-- javascript -->
        <script src='/javascripts/jquery-1.4.min.js' type='text/javascript'>
        </script>
     <!--
	    <script src='/javascripts/footer-pull-news.js' type='text/javascript'>
        </script>
        <script src='/javascripts/recent.js' type='text/javascript'>
        </script>
        <script src='/javascripts/webtrends.js' type='text/javascript'>
        </script>
		-->
    </head>
    <body class="home">
        <div id="DDX-header">
            <div>
                <h5 id="DDX-logo"><a href="/">DDX</a></h5>
            </div>
            <div id="DDX-header-separation">
            </div>
            <div id="DDX-header-nav">
                <ul id="DDX-account-nav">
                    <div id="DDX-account-nav-logged_in" style="display: none;">
                        <li>
                            <a href="/mytrainings" id="DDX-header-link-myapps">Mes formations</a>
                        </li>
                        <li>
                            <a href="/myaccount" id="DDX-header-link-account">Mon compte</a>
                        </li>
                        <li>
                            <a href="/logout" id="DDX-header-link-logout">Se déconnecter</a>
                        </li>
                    </div>
                    <li id="DDX-header-link-login">
                        <a href="/login">Se connecter</a>
                    </li>
                </ul>
                <ul id='DDX-section-nav'>
                    <li>
                        <a href="company" id="DDX-header-link-how">Compagnie</a>
                    </li>
                    <li>
                        <a href="service" id="DDX-header-link-pricing">Services</a>
                    </li>
                    <li>
                        <a href="contact" id="DDX-header-link-addons">Contact</a>
                    </li>
                    <li>
                        <a href="learn" id="DDX-header-link-docs">Apprendre</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            if (document.cookie.indexOf('DDX_session=') != -1) {
                document.getElementById('DDX-account-nav-logged_in').style.display = 'block';
                document.getElementById('DDX-header-link-login').style.display = 'none';
            }
        </script>
		                <%= yield :layout %>
        <div id='DDX-footer'>
            <div class='container'>
                <h2 class='hidden'>Sitemap</h2>

                <div class='nav sixth' id='DDX-footer-company'>
                    <h3>Drive Destiny eXperience</h3>
                    <ul>
                        <li>
                            <a href='/company' id='DDX-footer-link-about'>A propos</a>
                        </li>
                        <li>
                            <a href='/jobs' id='DDX-footer-link-jobs'>Emploi</a>
                        </li>
<!--                        <li>
                            <a href='http://legal.DDX.com/' id='DDX-footer-link-legal'>Legal</a>
                        </li>
                        <li>
                            <a href='http://legal.DDX.com/privacy' id='DDX-footer-link-privacy'>Privacy Policy</a>
                        </li>
-->						
                    </ul>
                </div>

                <div class='nav sixth' id='DDX-footer-business'>
                    <h3>Nos services</h3>
                    <ul>
                        <li>
                            <a href='/training' class='DDX-footer-link'>Formation</a>
                        </li>
                        <li>
                            <a href='/coaching' id='DDX-footer-link'>Coaching Agile</a>
                        </li>
                        <li>
                            <a href='/dvelopment' id='DDX-footer-link'>Développement</a>
                        </li>
                    </ul>
                </div>
                <!-- / PLATFORM -->
                <div class='nav sixth' id='DDX-footer-platform'>
                    <h3>Partners</h3>
                    <ul>
                        <li>
                            <a href='http://wwww.aaaa.com' id='DDX-footer-link'>Cayote (Canada)</a>
                        </li>
                        <li>
                            <a href='http://www.bbb.com' id='DDX-footer-link'>PMP Padcast (Canada)</a>
                        </li>
                        <li>
                            <a href='http://adhoc.ma' id='DDX-footer-link'>Adhoc</a>
                        </li>
                    </ul>
                </div>
                <!-- / RESOURCES -->
                <div class='nav sixth' id='DDX-footer-resources'>
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href='http://selharti.wordpress.com' id='DDX-footer-link-contact'>Blog</a>
                        </li>
                        <li>
                            <a href='http://agilemaroc.org/' id='DDX-footer-link'>Communoté</a>
                        </li>

                    </ul>
                </div>
                <div class='third' id='DDX-footer-pull'>
                </div>
            </div>
        </div>
    </body>
</html>
